@font-face 
{   font-family: 'Raleway-Medium';
    src: url('police/Raleway-Medium.eot') format('eot'),
         url('police/Raleway-Medium.woff') format('woff'),
         url('police/Raleway-Medium.ttf') format('truetype'),
         url('police/Raleway-Medium.svg') format('svg');
}

body
{   font-family: 'Raleway-Medium', 'serif';
    color: black;
}

h1 ,h2
{   font-size: large;
}

h3
{   font-size: medium;
}

.blue-star
{   color: #0065FC;
}

.grey-star
{   color: #F2F2F2;
}

a
{   text-decoration: none;
    color: black;
}

/*Header*/

header 
{   display: grid;
    grid-template-areas: "logo hebergement activite inscrire";
    max-width: 100%;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 3rem;
    padding: 1rem;
}

header a 
{   display: flex;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}
  
header a:first-of-type 
{   grid-area: logo;
}

header a:nth-of-type(2) 
{   grid-area: hebergement;
}

header a:nth-of-type(3) 
{   grid-area: activite;
}

header a:nth-of-type(4) 
{   grid-area: inscrire;
    font-weight: bold;
    color: #0065FC;
}

header a:nth-of-type(2) ,a:nth-of-type(3) ,a:nth-of-type(4)
{   justify-content: center;
    align-items: center;
}

header a:hover 
{   color: #0065FC;
    font-weight: bold;
    border-top: 2px #0065FC solid;
}

header a:first-of-type:hover 
{   border-top: none;
}

/*Zone de recherche*/

.recherche
{   max-width: 100%;
    padding: 1rem;
    justify-content: start;
}

.champs
{   display: flex;
}

.map-marker
{   background-color: #F2F2F2;
    padding: 15px;
    border-radius: 30% 0% 0% 30%;
}

input
{   font-weight: bold;
    background-color: white;
    border: 2px #F2F2F2 solid;
    padding: 10px;
}

button
{   background-color: #0065FC;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    margin-left: -10px;
}

button::after 
{   content: "Rechercher";
    color: white;
    font-family: 'Raleway-Medium', 'serif';
    font-weight: bold;
}

.filtre
{   font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
}

.filtre-responsive
{   display: none;
}

.icon
{   color: #0065FC;
    background-color: #DEEBFF;
    font-size: 20px;
    padding: 15px;
    border-radius: 60px;
    margin-right: 10px;
}

.filtre-icon
{   border: 1px #F2F2F2 solid;
    border-radius: 60px;
    padding-right: 20px;
    margin-left: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px #aaa;
}

.filtre-icon:hover 
{   color: #0065FC;
}

.info
{   display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.info-marker
{   color: #0065FC;
    background-color: white;
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 0px;
}

/*Hébergements + Populaires*/

main 
{   max-width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

/*Hébergements à Marseille*/

.hebergement
{   background-color: #F2F2F2;
    border-radius: 20px;
    width:62%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.hebergement h2 ,p
{   width: 100%;
    height: 5%;
}

.hotel-liste
{   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.hotel
{   background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px;
    width: 29%;
    height: 45%;
    padding: 5px;
    margin: 10px;
    font-size: medium;
}

.hotel img
{   object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}

/*Les plus populaires*/

aside
{   display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    max-width: 30%;
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.populaire-titre
{   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.graph-icon
{   font-size: 2em;
}

.populaire-liste
{   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85%;
}

.populaire
{   background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px;
    width: 90%;
    height: 28%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.populaire img
{   object-fit: cover;
    width: 35%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.populaire-texte
{   width: 60%;
    height: 90%;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texte 
{   font-size: medium;
    height: 30%;
    justify-items: start;
}

.etoile
{   height: 10%;
}

/*Activités à Marseille*/

.activite
{   border-radius: 20px;
    max-width: 100%;
    padding: 1rem;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.activite-liste
{   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

.activite-1 
{   box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px; 
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-2 
{   box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px; 
    width: 22%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-3
{   box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px; 
    width: 22%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-1 img 
{   object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
}

.activite-2 img ,.activite-3 img
{   object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
}

.activite-3 img
{   object-fit: cover;
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0px 0px;
}

.activite-texte 
{   width: 95%;
    height: 50px;
    margin: 5px 10px 5px 10px;
}

/*Bas de page*/

footer
{   max-width: 100%;
    padding: 1rem;
    background-color: #F2F2F2; 
    display: flex;
    justify-content: space-between;
}

footer ul
{   list-style-type: none;
    width: 33%;
    line-height: 200%;
    padding: 0px;
}

@media screen and (max-width: 800px)
{   body ,footer
    {   max-width: 100%;
    }
    footer
    {   display: flex;
        flex-direction: column;
    }
    footer ul
    {   width: 100%;
    }
    h1
    {   font-size: x-large;
        margin-right: 0px;
    }
    h2
    {   font-size: x-large;
    }
    header 
    {   display: grid;
        grid-template-areas: "logo inscrire" "hebergement activite";
        max-width: 100%;
        height: 7rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 3rem 3rem;
        padding: 0;
    }
    header a 
    {   display: flex;
        max-width: 100%;
        height: 100%;
        padding-top: 0;
    }   
    header a:first-of-type 
    {   grid-area: logo;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }  
    header a:nth-of-type(2) 
    {   grid-area: hebergement;
    }   
    header a:nth-of-type(3) 
    {   grid-area: activite;
    }
    header a:last-of-type 
    {   grid-area: inscrire;
        max-width: 90%;
        justify-content: flex-end;
    }
    header a:nth-of-type(2), a:nth-of-type(3) 
    {   justify-content: center;
        align-items: center;
        border-bottom: 2px solid #F2F2F2;
        margin-top: 1rem;
    }
    header a:nth-of-type(2):hover ,a:nth-of-type(3):hover ,a:nth-of-type(4):hover
    {   border-top: none;
    }
    header a:hover 
    {   color: #0065FC;
        font-weight: bold;
        border-bottom: 2px #0065FC solid;
    }
    header a:first-of-type:hover ,header a:last-of-type:hover 
    {   border-bottom: none;
    }
    .recherche 
    {   margin: auto;
        max-width: 100%;
    }
    .recherche p
    {   font-size: medium;
    }
    .map-marker
    {   font-size: 20px;
    }
    input 
    {   min-width: 50%;
        border: 2px #F2F2F2 solid;
        border-right-style: none;
    }
    button::after 
    {   content: "\f002";
      color: white;
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
    }
    .filtre
    {   max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .filtre-desktop
    {   display: none;
    }
    .filtre-responsive
    {   display: block;
        min-width: 100%;
        padding-bottom: 5px;
    }
    .filtre-icon
    {   margin-top: 10px;
        max-width: 100%;
        padding-right: 10px;
        margin-left: 0px;
        margin-right: 10px;
    }
    .filtre-icon:hover 
    {   color: #0065FC;
    }
    .info
    {   list-style-type: none;
        display: flex;
        align-items: first baseline;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 50px;
    }
    .info-marker
    {   border-radius: 50%;
        margin-right: 10px;
        font-size: small;
        padding: 10px;
        padding-right: 15px;
        padding-left: 15px;
    }
    main 
    {   width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }
    .hebergement 
    {   background-color: white;
        padding: 20px 0px 20px 0px;
        width: 100%;
    }
    .hotel-liste
    {   display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: 100%;
    }
    aside 
    {   min-width: 100%;
        padding: 0px 0px 20px 0px;    
        border-radius: 0px;
    }
    .populaire-titre
    {   max-width: 90%;
        margin-left: 20px;
    }
    .populaire-liste
    {   min-width: 100%;
    }
    .populaire img
    {   object-fit: cover;
        width: 35%;
        height: 150px;
    }
    .activite 
    {   
        width: 100%;
        padding: 0px;
        height: min-content;
        margin-bottom: 50px;
    }
    .activite-liste
    {   display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 90%;
    }
    .activite-liste img, .hotel-liste img 
    {   height: 150px;
    }
    .hotel
    {   margin : 10px 0px;
        min-width: 95%;
    }    
    .activite-1, .activite-2, .activite-3 
    {   margin : 10px 0px;

        width: 100%;
    }
    .activite-1, .activite-2, .activite-3 
    {   min-height: 200px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px)
{   .hebergement
    {   width: 60%;
    }
    .hotel
    {   width: 25%;
        height: 300px;
    }
    .hotel-star
    {   padding-top: 15px;
    }
}