@font-face 
{   font-family: 'Raleway-Medium';
    src: url('police/Raleway-Medium.eot') format('eot'),
         url('police/Raleway-Medium.woff') format('woff'),
         url('police/Raleway-Medium.ttf') format('truetype'),
         url('police/Raleway-Medium.svg') format('svg');
}

/*General*/

body
{   font-family: 'Raleway-Medium', 'serif';
    color: black;
}

.global /*contient header, .recherche, main, .activite*/
{   width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main /*contient .hebergement et aside*/
{   width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 ,h2
{   font-size: large;
}

h3
{   font-size: medium;
}

.blue-star
{   color: #0065FC;
}

.grey-star
{   color: #F2F2F2;
}

/*Barre de navigation*/

.header-desktop
{   width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-responsive
{   display: none;
}

.header-desktop img
{   width: auto;
    height: auto;
}

a
{   text-decoration: none;
    color: black;
}

.nav-liste-desktop
{   list-style-type: none;
    display: flex;
    font-size: medium;
    padding: 20px 20px;
}

.nav-link-1 ,.nav-link-2
{   padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}

.nav-link-2
{   color: #0065FC;
    font-weight: bold;
}

.nav-link-1:hover ,.nav-link-2:hover 
{   color: #0065FC;
    font-weight: bold;
    border-top: 2px #0065FC solid;
}

/*Zone de recherche*/

.recherche
{   width: 100%;
    justify-content: start;
}

.champs
{   display: flex;
}

.map-marker
{   background-color: #F2F2F2;
    padding: 15px;
    border-radius: 30% 0% 0% 30%;
}

input
{   font-weight: bold;
    background-color: white;
    border: 2px #F2F2F2 solid;
    padding: 10px;
}

button
{   color: white;
    font-weight: bold;
    background-color: #0065FC;
    padding: 10px;
    border-radius: 0% 10% 10% 0%;
}

.txt 
{   display: block;
}

.loupe
{   display: none;
}

.filtre
{   font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
}

.filtre-responsive
{   display: none;
}

.icon
{   color: #0065FC;
    background-color: #DEEBFF;
    font-size: 20px;
    padding: 15px;
    border-radius: 60px;
    margin-right: 10px;
}

.filtre-icon
{   border: 1px #F2F2F2 solid;
    border-radius: 60px;
    padding-right: 20px;
    margin-left: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px #aaa;
}

.filtre-icon:hover 
{   color: #0065FC;
}

.info
{   display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-left: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.info-marker
{   color: #0065FC;
    background-color: white;
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 0px;
}

/*Hébergements à Marseille*/

.hebergement
{   background-color: #F2F2F2;
    border-radius: 20px;
    width:62%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.hebergement h2 ,p
{   width: 100%;
    height: 5%;
}

.hotel-liste
{   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.hotel
{   background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px;
    width: 29%;
    height: 45%;
    padding: 5px;
    margin: 10px;
    font-size: medium;
}

.hotel img
{   object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}

/*Les plus populaires*/

aside
{   display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    max-width: 30%;
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.populaire-titre
{   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.graph-icon
{   font-size: 2em;
}

.populaire-liste
{   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85%;
}

.populaire
{   background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px;
    width: 90%;
    height: 28%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.populaire img
{   object-fit: cover;
    width: 35%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.populaire-texte
{   width: 60%;
    height: 90%;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texte 
{   font-size: medium;
    height: 30%;
    justify-items: start;
}

.etoile
{   height: 10%;
}

/*Activités à Marseille*/

.activite
{   border-radius: 20px;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.activite-liste
{   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

.activite-1 
{   background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px; 
    width: 22%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-2 
{   background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px; 
    width: 22%;
    height: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-3
{   background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 20px; 
    width: 22%;
    height: 40%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-1 img 
{   object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
}

.activite-2 img ,.activite-3 img
{   object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
}

.activite-3 img
{   object-fit: cover;
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0px 0px;
}

.activite-texte 
{   width: 95%;
    height: 50px;
    margin-left: 10px;
    background-color: white;
}

/*Bas de page*/

footer
{   width: 100%;
    background-color: #F2F2F2; 
}

.footer
{   width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.footer-liste
{   list-style-type: none;
    width: 33%;
    line-height: 200%;
}

@media screen and (max-width: 800px)
{   body ,.footer
    {   max-width: 100%;
        position: absolute;
    }
    .global ,.footer
    {   display: flex;
        flex-direction: column;
    }
    .global 
    {   width: 90%;
        margin: auto;
    }
    h1
    {   font-size: x-large;
        margin-right: 0px;
    }
    h2
    {   font-size: x-large;
    }
    .header-desktop
    {   display: none;
    }
    .header-responsive
    {   width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header-top-responsive
    {   list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px;
    }
    .header-top-responsive li
    {   width: 30%;
        display: flex;
    }
    .nav-link-2
    {   padding-left: 25px;
        padding-right: 25px;
        padding-top: 0px;
    }
    .nav-link-2:hover
    {   color: #0065FC;
        font-weight: bold;
        border-top: none;
    }
    .nav-liste-responsive
    {   list-style-type: none;
        display: flex;
        width: 100%;
        padding: 0px;
    }
    .nav-liste-responsive li
    {   width: 50%;
        display: flex;
    }
    .nav-link-1 
    {   padding-top: 0px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        border-bottom: 2px #F2F2F2 solid;
    }
    .nav-link-1:hover 
    {   color: #0065FC;
        border-color: #0065FC;
        border-top: none;
        border-bottom: 2px #0065FC solid;
    } 
    .recherche 
    {   margin: auto;
        width: 100%;
    }
    .recherche p
    {   font-size: medium;
    }
    .map-marker
    {   font-size: 20px;
    }
    input 
    {   min-width: 50%;
        border: 2px #F2F2F2 solid;
        border-right-style: none;
    }
    .txt 
    {   display: none;
    }
    .loupe
    {   display: block;
        padding: 15px;
        margin-left: -15px;
        border-radius: 30% 30% 30% 30%;
        font-size: 20px;
    }
    .filtre
    {   max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .filtre-desktop
    {   display: none;
    }
    .filtre-responsive
    {   display: block;
        min-width: 100%;
        padding-bottom: 5px;
    }
    .filtre-icon
    {   margin-top: 10px;
        max-width: 100%;
        padding-right: 10px;
        margin-left: 0px;
        margin-right: 10px;
    }
    .filtre-icon:hover 
    {   color: #0065FC;
    }
    .info
    {   list-style-type: none;
        display: flex;
        align-items: first baseline;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 50px;
    }
    .info-marker
    {   border-radius: 50%;
        margin-right: 10px;
        font-size: small;
        padding: 10px;
        padding-right: 15px;
        padding-left: 15px;
    }
    main 
    {   margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .hebergement 
    {   background-color: white;
        padding: 20px 0px 20px 0px;
        min-width: 100%;
    }
    .hotel-liste
    {   display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: 100%;
    }
    aside 
    {   min-width: 100%;
        padding: 0px 0px 20px 0px;    
    }
    .populaire-titre
    {   max-width: 90%;
        margin-left: 20px;
    }
    .populaire-liste
    {   min-width: 100%;
    }
    .populaire img
    {   object-fit: cover;
        width: 35%;
        height: 150px;
    }
    .activite 
    {   margin: auto;
        max-width: 100%;
        height: min-content;
        margin-bottom: 50px;
    }
    .activite-liste
    {   display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 90%;
    }
    .activite-liste img, .hotel-liste img 
    {   height: 150px;
    }
    .hotel, .activite-1, .activite-2, .activite-3 
    {   margin : 10px 0px;
        min-width: 95%;
    }
    .activite-1, .activite-2, .activite-3 
    {   min-height: 200px;
    }
    .footer-liste 
    {   width: 90%;
    }
}
